/* ----------------------------------------------------- */
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

/* ----------------------------------------------------- */
/* Custom Properties */

:root {
  /* Color */

  --color--black: 0 0% 0%;
  --color--very-dark-gray: 0 0% 27%;
  --color--dark-gray: 0 0% 63%;
  --color--white: 0 0% 100%;

  /* Font Weights */

  --fw--700: 700;
  --fw--600: 600;
  --fw--500: 500;

  /* Font Sizes */

  --fs--900: 3.85rem;
  --fs--500: 1.52rem;
}

@media (min-width: 1024px) {
  :root {
    --fs--900: 4.6rem;
  }
}

/* ----------------------------------------------------- */
/* CSS Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  overflow-x: hidden;

  color: hsl(var(--color--dark-gray));
  font-family: 'League Spartan', sans-serif;
  font-size: 1.2rem;
  font-weight: var(--fw--500);
  line-height: 1.5;
}

h1,
h2,
p,
ul,
li,
img,
button {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  line-height: 0.9;
}

h1 {
  margin-bottom: 1.4rem;
}

h2 {
  margin-bottom: 2rem;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

button {
  display: block;
}

button {
  border: none;
}

@media (min-width: 768px) {
  h1,
  h2 {
    line-height: 1;
  }
}

/* ----------------------------------------------------- */
/* Utility Classes */

/* Background Colors */

.bg--black {
  background-color: hsl(var(--color--black));
}

.bg--white {
  background-color: hsl(var(--color--white));
}

/* Font Colors */

.fc--black {
  color: hsl(var(--color--black));
}

/* Font Weights */

.fw--700 {
  font-weight: var(--fw--700);
}

.fw--600 {
  font-weight: var(--fw--600);
}

/* Font Sizes */

.fs--900 {
  font-size: var(--fs--900);
}

.fs--500 {
  font-size: var(--fs--500);
}

/* Letter Spacing */

.ls-extra-wide {
  letter-spacing: 0.75em;
}

.ls-wide {
  letter-spacing: 0.35em;
}

.ls-narrow {
  letter-spacing: -0.025em;
}

/* Misc Text Styling */

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Layout */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-pos--left {
  background-position: left;
}

.bg-pos--center {
  background-position: center;
}

/* Screen Reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* ----------------------------------------------------- */
/* Header */

.header {
  position: fixed;
  padding: 4.8rem;
  justify-content: center;
  align-items: center;
  z-index: 20;
  width: 100%;
}

.btn--nav-toggle {
  display: block;
  position: absolute;
  left: 24px;
  background: transparent;
  background-image: url('../images/icon-hamburger.svg');
  background-repeat: no-repeat;
  width: 1.5rem;
  aspect-ratio: 1;
  z-index: 50;
}

.btn--nav-toggle[aria-expanded='true'] {
  background-image: url('../images/icon-close.svg');
}

.navigation {
  gap: 3.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110px;
  padding: 2.4rem;
  justify-content: end;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out;
  z-index: 30;
}

.navigation[data-visible='true'] {
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
    padding: 6.4rem;
    gap: 4.8rem;
    justify-content: left;
  }

  .navigation {
    margin-top: 0.25rem;
    position: static;
    background-color: transparent;
    transform: none;
    height: auto;
    width: auto;
    padding: 0;
  }

  .link--nav {
    color: hsl(var(--color--white));
  }

  .link--nav::after,
  .link--nav::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 0.5rem;
    border-bottom: 2px solid hsl(var(--color--white));
    transition: width 300ms ease-in-out;
  }

  .link--nav:hover::after,
  .link--nav:focus::after {
    width: 75%;
  }

  .btn--nav-toggle {
    display: none;
  }
}

/* ----------------------------------------------------- */
/* Main */

.main {
  min-height: 100vh;
  grid-template-columns: auto 112px;
  grid-template-rows: 304px 56px min-content 238px min-content 227px;
}

.hero__image-group,
.hero__content-group,
.about__image,
.about__content {
  grid-column: 1 / 3;
}

.hero__image-group {
  grid-row: 1 / 3;
}

.hero__image img {
  object-fit: cover;
  margin: 0;
  height: 100%;
}

.hero__buttons {
  grid-row: 2 / 3;
  grid-column: 2 / span 1;
  align-self: end;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  height: 56px;
}

.btn--slide:hover,
.btn--slide:focus {
  background-color: hsl(var(--color--very-dark-gray));
}

.hero__content-group {
  grid-row: 3 / span 1;
  padding: 6rem 3.2rem;
}

.link--shop {
  margin: 1rem 0;
  padding: 1rem 0;
  transition: color 300ms ease-in-out;
  fill: currentColor;
  cursor: pointer;
  align-items: center;
  gap: 2rem;
}

.link--shop img {
  padding-left: 2rem;
  display: inline-block;
}

.link--shop:hover,
.link--shop:focus {
  color: hsl(var(--color--dark-gray));
}

.about__image {
  grid-row: 4 / span 1;
  background-image: url('../images/image-about-dark.jpg');
}

.about__image:last-of-type {
  grid-row: 6 / span 1;
  background-image: url('../images/image-about-light.jpg');
}

.about__content {
  grid-row: 5 / span 1;
  padding: 5.2rem 3.2rem 3.6rem;
}

@media (min-width: 768px) {
  .main {
    grid-template-rows: 504px 56px min-content 388px min-content 377px;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, minmax(200px, 30%)) minmax(160px, 10%) minmax(200px, 30%);
    grid-template-rows: auto min-content;
  }

  .hero__image-group,
  .hero__buttons,
  .hero__content-group {
    grid-row: 1 / 2;
  }

  .hero__image-group {
    grid-column: 1 / span 2;
  }

  .hero__buttons {
    grid-column: 3 / span 1;
    grid-template-rows: 80px;
    align-self: end;
    height: 80px;
  }

  .hero__content-group {
    grid-column: 3 / span 2;
    padding: 12rem 10rem;
  }

  .about__image,
  .about__image:last-of-type,
  .about__content {
    grid-row: 2 / 3;
  }

  .about__image {
    grid-column: 1 / span 1;
  }

  .about__image:last-of-type {
    grid-column: 4 / span 1;
  }

  .about__content {
    grid-column: 2 / span 2;
    align-self: center;
    padding: 6rem 4.8rem;
  }
}
